# Used Car Price Prediction

## 1) Problem statement.

* This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
* If user can predict the price of the car based on input features.
* Prediction results can be used to give new seller the price suggestion based on market condition.

## 2) Data Collection.
* The Dataset is collected from scrapping from cardheko webiste
* The data consists of 13 column and 15411 rows.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
df = pd.read_csv(r"cardekho_imputated.csv",index_col=0)

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

##Data Cleaning##

Handling missing values

1.Handling missing values

2.Handling Duplicates

3.check datatypes

4.understand the dataset

In [4]:
##check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
##remove unneccessary columns
df.drop(['car_name','brand'],axis=1,inplace=True)

In [6]:
df.head(2)

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [8]:
df[df.duplicated()].drop_duplicates(inplace=True)

In [9]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [10]:
##getting all different types of features

num_features = [ features for features in df.columns if df[features].dtype != 'O' ]
print('Numerical feature :',len(num_features))

cat_features = [ features for features in df.columns if df[features].dtype == 'O']
print('categorical features :',len(cat_features))

Numerical feature : 7
categorical features : 4

In [11]:
num_features

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [12]:
cat_features

['model', 'seller_type', 'fuel_type', 'transmission_type']

In [13]:
df[cat_features].nunique()

model                120
seller_type            3
fuel_type              5
transmission_type      2
dtype: int64

In [14]:
df.seller_type.unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [15]:
discrete_features = [ features for features in num_features if len(df[features].unique()) < 25 ]
print("discrete_features : ",len(discrete_features))

discrete_features :  2

In [16]:
continous_features = [ features for features in cat_features if len(df[features].unique()) < 25 ]
print("continous_features : ",len(continous_features))

continous_features :  3

In [17]:
##independent and dependentt features

from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'],axis=1)
y = df['selling_price']

In [18]:
len(df['model'].unique())

120

In [19]:
##label encoding for model
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [21]:
X['model'].unique()

array([  7,  54, 118,  38, 100, 117,  96,  88,  97,  32,  29,  24,  16,
        60,  13,  89,  95,  30,  25,  14,  45,  64,  10,  84, 114,  63,
        59,  78,  85,  68,  11,  44,  98,  91,  73,  86,  23,  49,   1,
        19,  41,  62,  61,   0,   4,  92,  42,  83,  90,  58,  79,  39,
         5,  36,  74, 116,   2, 111, 106,  57,  26,  31,  22, 103,  77,
        46,  87,  70, 113,  34,  82,  99, 112,  93,  37, 101,  20,  40,
       115,  47,   3,  81,  33,  12, 107,  51,  28,  18,  65,  80,  94,
        56, 104,  71,  27,  17, 119,  53,  67, 105,  35, 109,  43,   6,
        66,  50,  48, 102, 110, 108,  72,   9,   8,  69,  21,  15,  76,
        52,  75,  55])

In [22]:
len(X['model'].unique())

120

In [23]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,117,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,42,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,77,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,114,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,25,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  int64
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
dtypes: float64(2), int64(5), object(3)
memory usage: 1.3+ MB

In [25]:
##create column transformer with 3 types of transformer

num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

In [26]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import ColumnTransformer

In [27]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [28]:
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)


# Option	What it does
# 'passthrough'	Keep the untransformed columns as-is in the output
# 'drop' (default)	Remove any columns not listed in the transformers

In [29]:
X = preprocessor.fit_transform(X)

In [30]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [31]:
#seperate dataset into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=15)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

Model Training and Model Selection

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [34]:
def eval_model(true,predicted):
    mae = mean_squared_error(true,predicted)
    mse = mean_absolute_error(true,predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [35]:
#beginning model training
models =  {
"Linear Regression" : LinearRegression(),
"Lasso" : Lasso(),
"Ridge"  : Ridge(),
"K-Neighbors Regressor" : KNeighborsRegressor(),
"Decision Tree" : DecisionTreeRegressor(),
"Random Forest Regressor" : RandomForestRegressor(),
"Adaboost Regressor": AdaBoostRegressor(),
"Gradient BoostRegressor" : GradientBoostingRegressor(),
"XGboost Regressor " : XGBRegressor()

}

In [36]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    #make preditcion
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #evaluate train and test dataset
    model_train_mae ,model_train_mse,model_train_rmse ,model_train_r2 = eval_model(y_train,y_train_pred)

    model_test_mae ,model_test_mse,model_test_rmse ,model_test_r2 = eval_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('model performance for training set')
    print("Root mean squared error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute error: {:.4f}".format(model_train_mae))
    print('-R2 Score {:.4f}'.format(model_train_r2))

    print('--------------------------------------------------')
    
    print('model performance for testing set')
    print("Root mean squared error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute error: {:.4f}".format(model_test_mae))
    print('-R2 Score {:.4f}'.format(model_test_r2))
    print('======================================================')
    print("\n")

Linear Regression
model performance for training set
Root mean squared error: 523.9458
- Mean Absolute error: 317153736420.3556
-R2 Score 0.6226
--------------------------------------------------
model performance for testing set
Root mean squared error: 518.2104
- Mean Absolute error: 209961868954.0709
-R2 Score 0.6696
======================================================


Lasso
model performance for training set
Root mean squared error: 523.9436
- Mean Absolute error: 317153741284.0606
-R2 Score 0.6226
--------------------------------------------------
model performance for testing set
Root mean squared error: 518.2061
- Mean Absolute error: 209960094290.3633
-R2 Score 0.6696
======================================================


Ridge
model performance for training set
Root mean squared error: 523.9055
- Mean Absolute error: 317154768269.3260
-R2 Score 0.6226
--------------------------------------------------
model performance for testing set
Root mean squared error: 518.1261
- Mean Absolute error: 209926378204.8118
-R2 Score 0.6697
======================================================


K-Neighbors Regressor
model performance for training set
Root mean squared error: 301.7828
- Mean Absolute error: 107486998229.2850
-R2 Score 0.8721
--------------------------------------------------
model performance for testing set
Root mean squared error: 332.9843
- Mean Absolute error: 64813431482.9306
-R2 Score 0.8980
======================================================


Decision Tree
model performance for training set
Root mean squared error: 69.8741
- Mean Absolute error: 364087938.0273
-R2 Score 0.9996
--------------------------------------------------
model performance for testing set
Root mean squared error: 351.5716
- Mean Absolute error: 82226668724.0287
-R2 Score 0.8706
======================================================


Random Forest Regressor
model performance for training set
Root mean squared error: 199.4137
- Mean Absolute error: 19695848440.2525
-R2 Score 0.9766
--------------------------------------------------
model performance for testing set
Root mean squared error: 311.3746
- Mean Absolute error: 39488148593.6592
-R2 Score 0.9379
======================================================


Adaboost Regressor
model performance for training set
Root mean squared error: 569.7684
- Mean Absolute error: 231982325002.9206
-R2 Score 0.7240
--------------------------------------------------
model performance for testing set
Root mean squared error: 565.6780
- Mean Absolute error: 228047187640.3247
-R2 Score 0.6412
======================================================


Gradient BoostRegressor
model performance for training set
Root mean squared error: 336.2696
- Mean Absolute error: 44368537762.3696
-R2 Score 0.9472
--------------------------------------------------
model performance for testing set
Root mean squared error: 344.8801
- Mean Absolute error: 56061388764.0443
-R2 Score 0.9118
======================================================


XGboost Regressor
model performance for training set
Root mean squared error: 250.2166
- Mean Absolute error: 8084136960.0000
-R2 Score 0.9904
--------------------------------------------------
model performance for testing set
Root mean squared error: 311.9991
- Mean Absolute error: 98284576768.0000
-R2 Score 0.8453
======================================================

above random forest and knn performing well

In [42]:
#initialize few parameter for hyper parameter tuning


rf_params =  {
    "max_depth" : [5,8,15,None,10],
    "max_features" : [5,7,"auto",8],
    "min_samples_split" : [2,8,15,20],
    "n_estimators": [100,200,500,1000]
}



xgboost_params = {
    "learning_rate" :[0.1,0.01],
    "max_depth": [5,8,12,20,30],
    "n_estimators": [100,200,300],
    "subsample" : [0.5,0.8,1,0.3,0.4]
}

In [43]:
#models list for hyperparameter tunning

randomcv_models = [
                   ("RF",RandomForestRegressor(),rf_params),
                   ("XGboost",GradientBoostingRegressor(),xgboost_params)
                   ]

In [44]:
from sklearn.model_selection import RandomizedSearchCV

In [45]:
model_param = {}

for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,
                                n_iter=100,cv=3,verbose=2,n_jobs=-1)
    
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [46]:
for model_name in model_param:
    print(f"===============best param for {model_name}===================")
    print((model_param[model_name]))

===============best param for RF===================
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 5, 'max_depth': 15}
===============best param for XGboost===================
{'subsample': 0.5, 'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.1}

In [48]:
##retraining models with best parameter
models={
    
    "Random Forest":RandomForestRegressor(n_estimators=100,min_samples_split=2,
                                          max_features=None,max_depth=None,n_jobs=-1),

    "XG Boost Regressor" : XGBRegressor(n_neighbors=200,learning_rate=0.1,
                                        max_depth=20 ,subsample=0.8),

    
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    #make preditcion
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #evaluate train and test dataset
    model_train_mae ,model_train_mse,model_train_rmse ,model_train_r2 = eval_model(y_train,y_train_pred)

    model_test_mae ,model_test_mse,model_test_rmse ,model_test_r2 = eval_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('model performance for training set')
    print("Root mean squared error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute error: {:.4f}".format(model_train_mae))
    print('-R2 Score {:.4f}'.format(model_train_r2))

    print('--------------------------------------------------')
    
    print('model performance for testing set')
    print("Root mean squared error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute error: {:.4f}".format(model_test_mae))
    print('-R2 Score {:.4f}'.format(model_test_r2))
    print('======================================================')
    print("\n")

Random Forest
model performance for training set
Root mean squared error: 199.9579
- Mean Absolute error: 20482840858.2780
-R2 Score 0.9756
--------------------------------------------------
model performance for testing set
Root mean squared error: 312.3248
- Mean Absolute error: 40228165204.4437
-R2 Score 0.9367
======================================================


XG Boost Regressor
model performance for training set
Root mean squared error: 100.2179
- Mean Absolute error: 640887232.0000
-R2 Score 0.9992
--------------------------------------------------
model performance for testing set
Root mean squared error: 319.4015
- Mean Absolute error: 74464100352.0000
-R2 Score 0.8828
======================================================