In [1]:
import pandas as pd

In [2]:
##create simple dataframe

df  = pd.DataFrame({
    'color':['red','blue','green','yellow','blue','red']
})

In [3]:
df.head()

    color
0     red
1    blue
2   green
3  yellow
4    blue

In [5]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [6]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\Karthik\anaconda3\envs\myenv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 3, 0, 2])

In [7]:
lbl_encoder.transform([['red']])

c:\Users\Karthik\anaconda3\envs\myenv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [8]:
lbl_encoder.transform([['green']])

c:\Users\Karthik\anaconda3\envs\myenv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

ORdinal encoding

In [9]:
##ordinal encoding

from sklearn.preprocessing import OrdinalEncoder

In [10]:
##sample dataframe with ordinal variables
df = pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [11]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [13]:
##create instance of ordinal encoder and the fit_transform

encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [14]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])